.cq{
    
    color:white;
    justify-content: center;
    text-align: center;
    width:320px ;
    height: 100px;
    background-color: rgb(173, 115, 176);
    border-radius: 10px;
    margin-right: 20px;
    
}
.cqq{
    
    color:white;
    justify-content: center;
    text-align: center;
    width:250px ;
    height: 100px;
    background-color:rgb(145, 136, 211);
    border-radius: 10px;
    margin-right: 20px;
    
}
.sc{
    color:white;
    justify-content: center;
    text-align: center;
    width:300px ;
    height: 100px;
    background-color:rgb(200, 137, 170);
    border-radius: 10px;
    position: relative;

    
}
.menu5{
    position: relative;
   
   top:50px;
   display: flex;
   flex-wrap: wrap;
   width: 1200px;
   height: 110px;
}
.sc {
   
    backdrop-filter: blur(10px);
   
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .sc:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(58, 58, 58, 0.3);
  }
  
.cq {
   
    backdrop-filter: blur(10px);
   
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .cq:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(58, 58, 58, 0.3);
  }
  
.cqq{
   
    backdrop-filter: blur(10px);
   
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .cqq:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(58, 58, 58, 0.3);
  }