.trcontainer{
    position: relative;
   top: 40px;
   left: 250px;
    
    width: 1200px;
}
.trainingflex{
    box-shadow:1px 1px 5px #d1d1d1,
    1px 1px 10px #d1d1d1,
     1px 1px 15px #d1d1d1,
     1px 1px 20px #d1d1d1;
    display: flex;
    flex-wrap: wrap;
   gap: 35px;
    
    margin: 20px;
    padding: 40px;
    width: 103%;
    border-radius: 10px;
    border-radius: 30px;
}
.compdimen{
    box-shadow:1px 1px 5px #d1d1d1,
    1px 1px 10px #d1d1d1,
     1px 1px 15px #d1d1d1,
     1px 1px 20px #d1d1d1;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 210px;
 
   
}
/* width:300px;
height:100px;
background-color: red; */

.compdes{
    width:200px;
    height:130px;
    border-radius:50%;
    
    transform: rotate(135deg);
    position: relative;
    right: 53px;
    bottom: 20px;
   
}
.compdesign2{
    width:150px;
    height:110px;
    border-radius:50%;
   
    position: absolute;
    left: 26px;
    top: 22px;

}
.compdesign3{
    width:120px;
    height:90px;
    border-radius:50%;
  
    position: absolute;
    left: 17px;
    top: 22px;

}
.compdes1{
    width:200px;
    height:130px;
    border-radius:50%;
  
    transform: rotate(314.5deg);
    position: relative;
    right: -160px;
    bottom: 30px;
   
}
.compdesign21{
    width:150px;
    height:110px;
    border-radius:50%;
  
   
    position: absolute;
    left: 26px;
    top: 22px;

}
.compdesign31{
    width:120px;
    height:90px;
    border-radius:50%;
   
   
    position: absolute;
    left: 17px;
    top: 22px;

}
.cname{
    box-shadow:1px 1px 5px #d1d1d1,
    1px 1px 10px #d1d1d1,
     1px 1px 15px #d1d1d1,
     1px 1px 20px #d1d1d1;
    background-color: rgb(255, 255, 255);
    width: 190px;
    font-weight: 800;
    position: relative;
    bottom: 210px;
    padding: 10px;
    left: 85px;
}
.wavee{
    position: relative;
    top: px;
    width: 400px;
    right: px;
    opacity: 40%;
}
.wavfil{
 
    width: 400PX; height: 80px;
    background-color:   rgba(57,102,172,255);
    position: relative;
    
   
}
.wavee2{
    position: relative;
    opacity: 60%;
    top: -110px;
    width: 400px;
    right: px;}
    .wavee3{
        position: relative;
        opacity: 90%;
        top: -190px;
        width: 400px;
        right: px;}
        .bg{
            background-color: #d1d1d1;
            width: 70%;
            margin: 40px;
            position: relative;
            top: -60px;
            left: 200px;

        }
        .bg1{
            margin: 10px;
            background-color: beige;
            width: 90%;
            height: 200px;
            margin-bottom: 5px;
        }
        .HH{
            padding:10px;
        }
.generalouter{
    background-color: blueviolet;
    width: 100%;
}
.ic{
   position: relative;
}
.skills{
    position: relative;
    bottom: 20px;
}


.container {
   
    gap: 20px;
    position: relative;
    bottom:60px;
    margin: 50px auto;
  }
  
  .text-area {
    max-height: 150px;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow resizing vertically */
    overflow-y: auto; /* Enable vertical scroll when content overflows */
  }
  .filterboxes1{
    display: flex;
    flex-wrap: wrap;
   position: relative;
   right:20px;
   top: -60px;
   width: 1500px;
}